name: Flutter Workflow

on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          cache-key: flutter-latest

      - name: Install dependencies
        run: flutter pub get

      - name: Generate boilerplates
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Run unit tests
        run: flutter test --coverage

      - name: Upload to code coverage
        uses: codecov/codecov-action@v2
        with:
          file: coverage/lcov.info